<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Home | IBM</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.cdnfonts.com/css/google-sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    hr {
      background-color: black;
      margin-top: auto;
    }
    body {
      background: url('https://wallpapercave.com/wp/wp3481950.jpg') no-repeat ;
      color: white;
      font-family: 'Product Sans', sans-serif;
      @import url('https://fonts.cdnfonts.com/css/google-sans');
    }
    p {
      font-size: 20px;
    }
  </style>
</head>
<body style="background-size: cover;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/"><b>Intelligent Vehicle Damage Assessment and Cost Estimator for Insurance Companies</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/login"><b>Login</b></a>
        <a class="nav-item nav-link" href="/register"><b>Register</b></a>
        <a class="nav-item nav-link" href="/login"><b>Prediction</b></a>
      </div>
  </nav>
  <br><br><br><br><br>
  <div class="container">
   <center>
     <h2><b>Project Description</b></h2>
     <p>Vehicle Damage Detection is used to reduce claims leakage during insurance processing. Vechile Inspectin and validation are usually done. As it takes a long time,because a person need to come and Inspect Damage. Here we are trying to Automate the procedure. Using this Automation we can avoid time consumption for Insurance claim procedure.</p> 
     <a style="color:black;
              padding: 22px;
              background-color: white;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.facebook.com" class="fa fa-facebook"></a>
    <a style="color:black;
              padding: 20px;
              background-color: white;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.twitter.com" class="fa fa-twitter"></a>
    <a style="color:black;
              padding: 20px;
              background-color: white;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.linkedin.com" class="fa fa-linkedin"></a>
    <a style="color:black;
              padding: 20px;
              background-color: white;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.instagram.com" class="fa fa-instagram"></a> 
   </center>
  </div>
  <nav class="navbar fixed-bottom navbar-light">
    <div>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small><b>@ Copyright 2022</b></small>
      </div>
  </nav>
  
</body>
</html>